<h2><%= @venue.name %></h2>
<p><%= @venue.city %></h2>

<% @venue.concerts.each do |concert| %>
<p><%= link_to concert.name, venue_concert_path(@venue, concert) %><p>
  <%= link_to('Delete', venue_concert_path(@venue, concert),
    method: :delete,
    data: { confirm: 'Are you sure?' })%></p>
<% end %>

<h3><%= link_to "Add a show!", new_venue_concert_path(@venue) %> </h3>
